@media only screen and (max-width: 600px) {
    .main {
        flex-direction: column;
        gap: 10px;
    }

    .main .aside {
        border-right: none;
    }

    .aside .div-address {
        gap: 20px;
        margin: 2% 0;
    }

    .self-summary {
        line-height: 135%;
        width: 43%;
    }

    h5 ~ p, .review-sec p {
        line-height: 135%;
    }

    .exp-article p {
        width: 43%;
    }

    .review-sec article {
        width: 45%;
    }

    .main .sec-project {
        flex-direction: column;
        align-items: start;
    }

    .main .Service-sec {
        align-items: flex-start;
    }
} 